@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@font-face {
  font-family: Consolas;
  src: url(../fonts/Consolas.ttf); }

@font-face {
  font-family: Monaco;
  src: url(../fonts/Monaco.ttf); }

@font-face {
  font-family: Incosolata;
  src: url(../fonts/Incosolata.ttf); }

.ui {
  width: 100%;
  height: 100%; }
  .ui .ui-body {
    width: 100%;
    height: 100%;
    display: block; }
    .ui .ui-body .ui-body-header {
      width: 100%;
      min-height: 10px;
      position: relative;
      background-color: #ddd;
      padding-top: 15px;
      padding-bottom: 15px;
      border-bottom: 9px solid #ef861e; }
      .ui .ui-body .ui-body-header .container nav {
        padding: 0;
        width: 100%; }
        .ui .ui-body .ui-body-header .container nav .ui-body-header-index {
          width: 50%;
          float: left;
          display: inline-block;
          position: relative; }
          @media screen and (max-width: 991px) {
            .ui .ui-body .ui-body-header .container nav .ui-body-header-index {
              width: 20%; } }
          @media screen and (max-width: 767px) {
            .ui .ui-body .ui-body-header .container nav .ui-body-header-index {
              width: 100%; } }
          .ui .ui-body .ui-body-header .container nav .ui-body-header-index a img {
            width: 65px; }
          .ui .ui-body .ui-body-header .container nav .ui-body-header-index span {
            display: none;
            cursor: pointer;
            float: right;
            background-color: #ea5411;
            padding: 10px 10px;
            line-height: 0;
            border-radius: 0px;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(0, -50%);
            -webkit-transform: translate(0, -50%);
            -moz-transform: translate(0, -50%);
            -o-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%); }
            @media screen and (max-width: 767px) {
              .ui .ui-body .ui-body-header .container nav .ui-body-header-index span {
                display: block; } }
            .ui .ui-body .ui-body-header .container nav .ui-body-header-index span img {
              width: 15px; }
        .ui .ui-body .ui-body-header .container nav .ui-body-header-last {
          width: 50%;
          float: right;
          display: inline-block; }
          @media screen and (max-width: 991px) {
            .ui .ui-body .ui-body-header .container nav .ui-body-header-last {
              width: 80%; } }
          @media screen and (min-width: 768px) {
            .ui .ui-body .ui-body-header .container nav .ui-body-header-last {
              display: inline-block !important; } }
          @media screen and (max-width: 767px) {
            .ui .ui-body .ui-body-header .container nav .ui-body-header-last {
              margin-top: 15px;
              width: 100%;
              display: none; } }
          .ui .ui-body .ui-body-header .container nav .ui-body-header-last ul {
            float: right;
            margin: 0;
            padding: 0; }
            @media screen and (max-width: 767px) {
              .ui .ui-body .ui-body-header .container nav .ui-body-header-last ul {
                width: 100%;
                float: left; } }
            .ui .ui-body .ui-body-header .container nav .ui-body-header-last ul li {
              display: inline-block;
              list-style-type: none;
              margin-left: 10px; }
              @media screen and (max-width: 767px) {
                .ui .ui-body .ui-body-header .container nav .ui-body-header-last ul li {
                  display: block;
                  width: 100%;
                  margin-bottom: 15px;
                  margin-left: 0px; }
                  .ui .ui-body .ui-body-header .container nav .ui-body-header-last ul li a {
                    display: block;
                    width: 100%; } }
              .ui .ui-body .ui-body-header .container nav .ui-body-header-last ul li.is-menu {
                display: none; }
                @media screen and (max-width: 767px) {
                  .ui .ui-body .ui-body-header .container nav .ui-body-header-last ul li.is-menu {
                    display: block; } }
              .ui .ui-body .ui-body-header .container nav .ui-body-header-last ul li a {
                background-color: #ef861e;
                color: #fff;
                padding: 10px;
                border-radius: 3px;
                text-decoration: none;
                font-family: "Raleway", sans-serif;
                font-size: 14px; }
    .ui .ui-body .ui-body-layout {
      min-height: 10px; }
      .ui .ui-body .ui-body-layout .ui-body-layout-container {
        width: 100%;
        min-height: 10px; }
    .ui .ui-body .ui-body-footer {
      width: 100%;
      min-height: 10px;
      text-align: center;
      background-color: #ddd;
      border-top: 1px solid #cbcbcb; }
      .ui .ui-body .ui-body-footer p {
        margin-bottom: 0px;
        font-weight: 600;
        margin-left: 15px; }
      .ui .ui-body .ui-body-footer ul {
        display: block;
        width: 100%;
        text-align: center;
        padding: 15px;
        margin: 0; }
        .ui .ui-body .ui-body-footer ul li {
          list-style-type: none;
          display: inline-block;
          margin-left: 15px; }
          .ui .ui-body .ui-body-footer ul li.inline {
            margin-left: 0px; }
          .ui .ui-body .ui-body-footer ul li a {
            text-decoration: underline;
            color: #999; }
            .ui .ui-body .ui-body-footer ul li a i {
              font-size: 30px;
              margin-left: 15px; }

.ui-home {
  padding: 0px; }
  .ui-home .ui-home-index {
    width: 100%;
    min-height: 50px;
    background-color: #645247;
    padding: 50px 15px; }
    .ui-home .ui-home-index h1 {
      text-align: center;
      font-family: "Raleway", sans-serif;
      color: #fff;
      font-weight: 100;
      margin: 0 auto; }
      .ui-home .ui-home-index h1 a {
        padding: 15px;
        display: block;
        font-size: 15px;
        color: #ef861e;
        max-width: 150px;
        margin: 0 auto;
        margin-top: 25px;
        text-decoration: none;
        border: 0;
        background: #fff;
        font-weight: 600;
        box-shadow: 0px 4px 0px #ddd; }
  .ui-home .ui-home-features {
    width: 100%;
    min-height: 50px;
    padding: 50px 15px; }
    .ui-home .ui-home-features h2 {
      text-align: center;
      font-weight: 100;
      color: #ef861e;
      margin-bottom: 50px; }
    .ui-home .ui-home-features .container .row .ui-home-features-ft h3 {
      font-weight: 200;
      text-align: center;
      color: #ef861e;
      margin-bottom: 10px; }
    .ui-home .ui-home-features .container .row .ui-home-features-ft p {
      text-align: center;
      font-weight: 100;
      color: #ea5411; }
  .ui-home .ui-home-community {
    padding: 50px 15px; }
    .ui-home .ui-home-community h2 {
      text-align: center;
      font-weight: 100;
      color: #ef861e;
      margin-bottom: 50px; }
    .ui-home .ui-home-community .container .row .ui-home-community-index {
      background-color: #645247;
      min-height: 350px; }
      @media screen and (max-width: 767px) {
        .ui-home .ui-home-community .container .row .ui-home-community-index {
          margin-bottom: 45px; } }
      .ui-home .ui-home-community .container .row .ui-home-community-index h3 {
        font-weight: 500;
        font-family: "Raleway", sans-serif;
        position: absolute;
        color: #fff;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        width: 80%;
        text-align: center;
        font-size: 24px; }
        .ui-home .ui-home-community .container .row .ui-home-community-index h3 a {
          text-decoration: underline;
          font-weight: 800;
          color: #fff; }
    .ui-home .ui-home-community .container .row .ui-home-community-last h3 {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      position: relative;
      text-align: center; }
      @media screen and (max-width: 767px) {
        .ui-home .ui-home-community .container .row .ui-home-community-last h3 img {
          max-width: 50%; } }
      .ui-home .ui-home-community .container .row .ui-home-community-last h3 img {
        max-width: 300px; }
  .ui-home .ui-home-version h2 {
    text-align: center;
    font-weight: 100;
    color: #ef861e;
    margin-bottom: 50px; }
  .ui-home .ui-home-version .ui-home-version-index {
    min-height: 350px; }
    .ui-home .ui-home-version .ui-home-version-index h3 {
      left: 50%;
      transform: translate(-50%);
      -webkit-transform: translate(-50%);
      -moz-transform: translate(-50%);
      -o-transform: translate(-50%);
      -ms-transform: translate(-50%);
      position: absolute; }
      .ui-home .ui-home-version .ui-home-version-index h3 img {
        max-width: 230px; }
  .ui-home .ui-home-version .ui-home-version-last {
    min-height: 350px; }
    .ui-home .ui-home-version .ui-home-version-last h3 {
      font-size: 17px;
      color: #ef861e;
      font-family: "Raleway", sans-serif;
      font-weight: 100;
      margin-bottom: 15px; }
      .ui-home .ui-home-version .ui-home-version-last h3 a {
        font-weight: 600;
        text-decoration: underline;
        color: #ef861e; }
    .ui-home .ui-home-version .ui-home-version-last h4 {
      font-size: 15px;
      color: #ef861e;
      font-family: "Raleway", sans-serif;
      font-weight: 500;
      margin-bottom: 15px; }
      .ui-home .ui-home-version .ui-home-version-last h4 b {
        font-weight: 800; }
    .ui-home .ui-home-version .ui-home-version-last pre {
      background: #fafafa;
      text-align: left;
      overflow: hidden;
      white-space: normal;
      padding: 15px;
      color: #646464;
      font-size: 13px; }
      .ui-home .ui-home-version .ui-home-version-last pre span {
        float: right;
        cursor: pointer; }
        .ui-home .ui-home-version .ui-home-version-last pre span img {
          width: 17px; }
    .ui-home .ui-home-version .ui-home-version-last h5 {
      font-size: 13px;
      color: #ef861e;
      font-family: "Raleway", sans-serif;
      font-weight: 500;
      margin-bottom: 15px; }
      .ui-home .ui-home-version .ui-home-version-last h5 a {
        font-weight: 600;
        text-decoration: underline;
        color: #ef861e; }
  .ui-home .ui-home-newsletter {
    margin-bottom: 50px; }
    .ui-home .ui-home-newsletter h2 {
      text-align: center;
      font-weight: 100;
      color: #ea5411;
      margin-bottom: 50px; }
    .ui-home .ui-home-newsletter .container .ui-home-newsletter-form input {
      width: 100%;
      border: 0;
      outline: none;
      padding: 10px 25px;
      border: 1px solid #645247;
      border-radius: 35px;
      font-family: "Raleway", sans-serif; }
    .ui-home .ui-home-newsletter .container .ui-home-newsletter-form button {
      width: 100%;
      background-color: #645247;
      color: #fff;
      border: 1px solid #645247;
      padding: 10px 25px;
      border-radius: 35px;
      cursor: pointer;
      font-family: "Raleway", sans-serif; }
    .ui-home .ui-home-newsletter .container .ui-home-newsletter-form .ui-home-newsletter-form-email {
      margin-bottom: 15px; }
    .ui-home .ui-home-newsletter .container .ui-home-newsletter-form .ui-home-newsletter-form-name {
      margin-bottom: 15px; }
    .ui-home .ui-home-newsletter .container .ui-home-newsletter-form .ui-home-newsletter-form-button {
      margin-bottom: 15px; }

.ui-documentation .container h1 {
  font-size: 17px;
  margin: 25px 0px;
  color: #ef861e;
  font-weight: 500;
  font-family: "Raleway", sans-serif; }
  @media screen and (max-width: 767px) {
    .ui-documentation .container h1 {
      margin-left: 25px; } }
  .ui-documentation .container h1 span {
    background: #645247;
    color: #fff;
    padding: 10px;
    border-radius: 5px; }

.ui-documentation .ui-documentation-index {
  border-top: 2px solid #fafafa; }
  .ui-documentation .ui-documentation-index .ui-documentation-index-row .ui-documentation-index-row-sidebar {
    padding: 25px;
    width: 25%;
    background-color: #fafafa;
    min-height: 350px;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content; }
    @media screen and (max-width: 767px) {
      .ui-documentation .ui-documentation-index .ui-documentation-index-row .ui-documentation-index-row-sidebar {
        width: 100%; } }
    .ui-documentation .ui-documentation-index .ui-documentation-index-row .ui-documentation-index-row-sidebar .ui-block {
      margin-bottom: 25px;
      border-bottom: 1px solid #ebebeb; }
      .ui-documentation .ui-documentation-index .ui-documentation-index-row .ui-documentation-index-row-sidebar .ui-block h2 {
        font-size: 17px;
        font-family: "Raleway", sans-serif;
        color: #645247;
        font-weight: 500; }
      .ui-documentation .ui-documentation-index .ui-documentation-index-row .ui-documentation-index-row-sidebar .ui-block h3 {
        font-size: 14px;
        margin-bottom: 13px;
        margin-left: 25px; }
        .ui-documentation .ui-documentation-index .ui-documentation-index-row .ui-documentation-index-row-sidebar .ui-block h3 a {
          text-decoration: none;
          color: #ef861e;
          font-weight: 400; }
  .ui-documentation .ui-documentation-index .ui-documentation-index-row .ui-documentation-index-row-content {
    min-height: 350px;
    padding: 25px; }
    .ui-documentation .ui-documentation-index .ui-documentation-index-row .ui-documentation-index-row-content h4 {
      font-family: "Raleway", sans-serif;
      font-size: 30px;
      font-weight: 300;
      color: #ef861e;
      margin-bottom: 25px;
      text-align: left;
      border-bottom: 1px solid #fafafa;
      padding-bottom: 15px; }
      @media screen and (max-width: 767px) {
        .ui-documentation .ui-documentation-index .ui-documentation-index-row .ui-documentation-index-row-content h4 {
          font-size: 20px; } }
      .ui-documentation .ui-documentation-index .ui-documentation-index-row .ui-documentation-index-row-content h4 span {
        font-size: 20px;
        font-family: sans-serif;
        color: #ea5411; }
      .ui-documentation .ui-documentation-index .ui-documentation-index-row .ui-documentation-index-row-content h4 a {
        color: #645247;
        text-decoration: none;
        font-size: 14px;
        font-weight: 600; }
    .ui-documentation .ui-documentation-index .ui-documentation-index-row .ui-documentation-index-row-content h5 {
      font-weight: 400;
      font-size: 14px;
      color: #e57645;
      line-height: 1.5;
      margin-bottom: 25px; }
      .ui-documentation .ui-documentation-index .ui-documentation-index-row .ui-documentation-index-row-content h5 i {
        color: #000;
        font-weight: 400; }
      .ui-documentation .ui-documentation-index .ui-documentation-index-row .ui-documentation-index-row-content h5.title {
        font-weight: 500;
        color: #645247; }
      .ui-documentation .ui-documentation-index .ui-documentation-index-row .ui-documentation-index-row-content h5 a {
        color: #645247;
        font-weight: 600;
        text-decoration: none; }
    .ui-documentation .ui-documentation-index .ui-documentation-index-row .ui-documentation-index-row-content pre {
      background-color: #fafafa;
      white-space: pre-line;
      font-size: 14px;
      padding: 30px;
      font-family: Monaco;
      font-weight: 800;
      color: #8a8a8a;
      letter-spacing: 1px;
      margin-bottom: 25px;
      position: relative; }
      .ui-documentation .ui-documentation-index .ui-documentation-index-row .ui-documentation-index-row-content pre.code {
        color: #3a5e82;
        white-space: pre; }
        .ui-documentation .ui-documentation-index .ui-documentation-index-row .ui-documentation-index-row-content pre.code .str {
          color: #032f62; }
        .ui-documentation .ui-documentation-index .ui-documentation-index-row .ui-documentation-index-row-content pre.code .arrow {
          color: #d73a49; }
        .ui-documentation .ui-documentation-index .ui-documentation-index-row .ui-documentation-index-row-content pre.code .class {
          color: #d73a49; }
        .ui-documentation .ui-documentation-index .ui-documentation-index-row .ui-documentation-index-row-content pre.code .var {
          color: #24292e; }
        .ui-documentation .ui-documentation-index .ui-documentation-index-row .ui-documentation-index-row-content pre.code .if {
          color: #d73a49; }
      .ui-documentation .ui-documentation-index .ui-documentation-index-row .ui-documentation-index-row-content pre.slim {
        font-weight: 500;
        font-size: 12px; }
      .ui-documentation .ui-documentation-index .ui-documentation-index-row .ui-documentation-index-row-content pre.html span {
        color: #000; }
      .ui-documentation .ui-documentation-index .ui-documentation-index-row .ui-documentation-index-row-content pre a {
        position: absolute;
        top: 5px;
        right: 5px;
        color: #999;
        font-family: 'Raleway';
        font-weight: 600; }
        .ui-documentation .ui-documentation-index .ui-documentation-index-row .ui-documentation-index-row-content pre a:hover {
          transition: 0.3s ease;
          -webkit-transition: 0.3s ease;
          -moz-transition: 0.3s ease;
          -o-transition: 0.3s ease;
          -ms-transition: 0.3s ease;
          color: #000; }
    .ui-documentation .ui-documentation-index .ui-documentation-index-row .ui-documentation-index-row-content h6 {
      font-weight: 400;
      font-size: 13px;
      color: #e57645;
      margin-bottom: 25px; }
      .ui-documentation .ui-documentation-index .ui-documentation-index-row .ui-documentation-index-row-content h6 a {
        color: #645247;
        font-weight: 600; }
    .ui-documentation .ui-documentation-index .ui-documentation-index-row .ui-documentation-index-row-content table * {
      font-family: "Raleway", sans-serif; }
    .ui-documentation .ui-documentation-index .ui-documentation-index-row .ui-documentation-index-row-content table th {
      background-color: #ddd;
      font-size: 14px; }
    .ui-documentation .ui-documentation-index .ui-documentation-index-row .ui-documentation-index-row-content table td {
      font-size: 13px;
      font-weight: 900; }
    .ui-documentation .ui-documentation-index .ui-documentation-index-row .ui-documentation-index-row-content .ui-documentation-nav {
      width: 100%; }
      @media screen and (max-width: 767px) {
        .ui-documentation .ui-documentation-index .ui-documentation-index-row .ui-documentation-index-row-content .ui-documentation-nav {
          display: block;
          float: left; } }
      .ui-documentation .ui-documentation-index .ui-documentation-index-row .ui-documentation-index-row-content .ui-documentation-nav a {
        display: inline-block;
        color: #645247;
        padding: 10px 20px;
        max-width: 100%;
        box-shadow: 0px 1px 3px #ddd;
        -webkit-box-shadow: 0px 1px 3px #ddd;
        -moz-box-shadow: 0px 1px 3px #ddd;
        -o-box-shadow: 0px 1px 3px #ddd;
        -ms-box-shadow: 0px 1px 3px #ddd;
        transition: 0.5s ease;
        -webkit-transition: 0.5s ease;
        -moz-transition: 0.5s ease;
        -o-transition: 0.5s ease;
        -ms-transition: 0.5s ease;
        text-decoration: none; }
        .ui-documentation .ui-documentation-index .ui-documentation-index-row .ui-documentation-index-row-content .ui-documentation-nav a:hover {
          box-shadow: 0px -1px 3px #ddd;
          -webkit-box-shadow: 0px -1px 3px #ddd;
          -moz-box-shadow: 0px -1px 3px #ddd;
          -o-box-shadow: 0px -1px 3px #ddd;
          -ms-box-shadow: 0px -1px 3px #ddd; }
        .ui-documentation .ui-documentation-index .ui-documentation-index-row .ui-documentation-index-row-content .ui-documentation-nav a.prev {
          float: left; }
        .ui-documentation .ui-documentation-index .ui-documentation-index-row .ui-documentation-index-row-content .ui-documentation-nav a.next {
          float: right; }
        @media screen and (max-width: 767px) {
          .ui-documentation .ui-documentation-index .ui-documentation-index-row .ui-documentation-index-row-content .ui-documentation-nav a.prev, .ui-documentation .ui-documentation-index .ui-documentation-index-row .ui-documentation-index-row-content .ui-documentation-nav a.next {
            float: none; }
          .ui-documentation .ui-documentation-index .ui-documentation-index-row .ui-documentation-index-row-content .ui-documentation-nav a.prev {
            margin-bottom: 15px;
            margin-right: 15px; } }
    .ui-documentation .ui-documentation-index .ui-documentation-index-row .ui-documentation-index-row-content .ui-documentation-info-block {
      min-height: 50px;
      padding: 15px;
      border-radius: 5px;
      background-color: #645247;
      width: 100%;
      margin-bottom: 25px; }
      .ui-documentation .ui-documentation-index .ui-documentation-index-row .ui-documentation-index-row-content .ui-documentation-info-block p {
        color: #fff;
        font-family: "Raleway", sans-serif;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 5px; }
        .ui-documentation .ui-documentation-index .ui-documentation-index-row .ui-documentation-index-row-content .ui-documentation-info-block p i {
          font-size: 12px;
          padding: 5px;
          border-radius: 2px;
          background: #ddd;
          font-style: inherit; }
          .ui-documentation .ui-documentation-index .ui-documentation-index-row .ui-documentation-index-row-content .ui-documentation-info-block p i.add {
            background-color: #009688; }
          .ui-documentation .ui-documentation-index .ui-documentation-index-row .ui-documentation-index-row-content .ui-documentation-info-block p i.change {
            background-color: #9E9E9E; }
          .ui-documentation .ui-documentation-index .ui-documentation-index-row .ui-documentation-index-row-content .ui-documentation-info-block p i.remove {
            background-color: #F44336; }
          .ui-documentation .ui-documentation-index .ui-documentation-index-row .ui-documentation-index-row-content .ui-documentation-info-block p i.fix {
            background-color: #61a116; }

.hidden {
  display: none; }

.modalh4 {
  padding: 15px; }
