@font-face {
	font-family: Consolas;
	src: url(../fonts/Consolas.ttf);
}

@font-face {
	font-family: Monaco;
	src: url(../fonts/Monaco.ttf);
}

@font-face {
	font-family: Incosolata;
	src: url(../fonts/Incosolata.ttf);
}